/* Dosis, Open Sans, Google Font */
@import url(http://fonts.googleapis.com/css?family=Dosis|Open+Sans:600italic,700italic,700,300);

/* Header */
a h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-top: 4px;
    float: left;
    color: black;
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

/* Nav */
nav ul {
    list-style: none;
    text-align: right;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
}

nav li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

nav li a:hover {
    color: black;
}

a:visited h1 {
    color: black;
}

.page a {
    color: black;
    font-weight: bold;
}

/* HTML */
body {
    margin: auto;
    width: 960px;
    background-color: #F0F0F0;
}

header, section, footer {
    
    padding: 0px 10px 0px 10px;
}

img {
    width: 940px;
    height: auto;
}

/* Accueil */
section h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
}

section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.titre {
    line-height: 80px;
}
    
.img_accueil {
    margin-top: 100px;
}

section p {
   font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    
}

.description {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}

.marge {
    margin-top: 25px;
}

.espace {
    padding-top: 40px;
}

/* Contact */
form {
    margin-left: 160px;
    width: 540px;
    margin-right: 240px;
	height: 370px;
    padding-top: 10px;
}

label {
	width: 140px;
	font-weight: bold;
}

.mme {
	margin-left: 157px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.mr {
	margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.txt, textarea, .submit {
	width: 380px;
	float: right;
	margin-top: 17px;
	font-size: 20px;
	border: 1px solid white;
}

.npm{
	float: left;
    text-align: right;
	margin-top: 30px;
	font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.txt{
	height: 40px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    resize: none;
	height: 180px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
	font-size: 18pt;
	font-weight: bold;
	border: none;
	background-color: transparent; 
	padding: 0;
	font-style: italic;
	text-decoration: underline;
	color: black;
	text-align: right;
    width: 160px;
}

/* Footer */
footer {
    
    border-top: 1px solid;
    width: 940px;
    margin-left: 10px;
    margin-top: 80px;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    float: right;
}

footer a, footer a:visited {
    color: black;
    text-decoration: none;
}